.channelCard {
  text-align: center;
}

.img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.title {
  display: -webkit-box;
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 700;
  max-height: 4rem;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}