.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: .875rem;
  font-weight: 500;
  height: 36px;
  padding: 0 16px;
  border-radius: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: var(--transition);

  > span { margin-top: 1px; }
  > svg { flex-shrink: 0; }
}

.text {
  min-height: auto;
  padding: 0 5px;
  border-radius: 0;

  > span { margin-top: 0; }
}

.icon {
  padding: 6px;
  border-radius: 50%;
}

.primary {
  color: var(--color-text-primary);
  background-color: rgba(0,0,0, .05);

  &:hover,
  &:focus-visible {
    background-color: #e5e5e5;
  }
}

.secondary {
  color: var(--color-white);
  background-color: var(--color-black);

  &:hover,
  &:focus-visible {
    background-color: #272727;
  }
}