@use "assets/scss/mixins" as *;

.card {
  &:hover,
  &:focus-visible {
    .toggle { opacity: 1; }
  }

  &Horizontal {
    display: grid;
    grid-template-columns: 168px 1fr;
    gap: 8px;

    .cardImg { border-radius: 8px; }
    
    .cardTitle {
      font-size: .875rem;
      line-height: 1.25;
      margin-top: 4px;
    }

    .cardDescription { margin-top: 0; }

    .textSecondary {
      font-size: .75rem;
      line-height: 1.25;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    &Horizontal { grid-template-columns: 1fr 1fr; }
  }
}

.cardImg {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  aspect-ratio: 1.75 / 1;
}

.cardDescription {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  position: relative;
  padding-right: 24px;
}

.cardTitle {
  @include cut-text(2, 2.8rem);

  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 4px;
}

.textSecondary {
  color: var(--color-text-secondary);
  font-size: .8rem;
  margin-bottom: 2px;
}

.toggle {
  width: 36px;
  padding: 0;
  border: 1px solid transparent;
  opacity: 0;
  position: absolute;
  top: 0;
  right: -10px;

  &:hover,
  &:focus-visible {
    border-color: var(--color-grey-1);
  }
}