@use "assets/scss/mixins" as *;

.layout {
  display: grid;
  grid-template-rows: min-content 1fr;
  min-height: 100vh;
}

.content {
  height: 100%;
  margin-left: var(--sidebar-width);
  box-sizing: border-box;
  transition: var(--transition);
  overflow-x: hidden;

  &FullWidth {
    margin-left: 0;
  }

  @include media-max(md) { margin-left: 0; }
}