@use "assets/scss/mixins" as *;

.layout {
  display: grid;
  grid-template-rows: min-content 1fr;
  min-height: 100vh;
}

.container {
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 12px 24px;
}