@use "assets/scss/mixins" as *;

.sidebar {
  @include invisible-scrollbar;

  min-width: 240px;
  height: calc(100vh - var(--header-height));
  padding: 0 12px;
  background-color: var(--color-grey-100);
  box-sizing: border-box;
  position: sticky;
  top: var(--header-height);
  left: 0;
}

.link {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 0 24px;
  min-height: 40px;
  padding: 0 12px;
  border-radius: 10px;
  transition: var(--transition);

  &:hover,
  &:focus-visible {
    background-color: var(--color-light);
  }
}