@use "assets/scss/mixins" as *;

.modalWrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.closeModal {
  pointer-events: none;

  .modalSidebar { transform: translateX(-100%); }
  .overlay { display: none; }
}

.modalSidebar {
  width: var(--sidebar-width);
  height: 100%;
  background-color: var(--color-white);
  box-sizing: border-box;
  transform: translateX(0);
  transition: .2s ease;
}

.modalContent {
  @include invisible-scrollbar;

  height: calc(100vh - var(--header-height));
  box-sizing: border-box;

  &:hover,
  &:focus { @include thin-scrollbar; }
}

.logoWrapper {
  display: flex;
  align-items: center;
  padding: 15px 16px;
}

.toggle {
  line-height: 1;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  padding: 8px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transition);

  &:hover,
  &:focus-visible { background-color: var(--color-light); }
  &:active { background-color: var(--color-grey-1); }
}

.sidebar {
  @include invisible-scrollbar;

  width: var(--sidebar-width);
  height: calc(100vh - var(--header-height));
  background-color: var(--color-white);
  box-sizing: border-box;
  position: fixed;
  top: var(--header-height);
  left: 0;
  
  &:hover,
  &:focus { @include thin-scrollbar; }

  &Hidden {
    transform: translateX(-100%);
  }
}

.navigationGroup {
  padding-left: 12px;
  padding-right: 12px;

  &:not(:first-child) {
    border-top: 1px solid rgba(0,0,0, .1);
    margin-top: 12px;
    padding-top: 12px;
  }
}

.groupTitle {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  padding: 6px 12px;
}

.link {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 0 24px;
  max-width: 208px;
  min-height: 40px;
  padding: 0 12px;
  border-radius: 10px;
  box-sizing: border-box;
  transition: var(--transition);

  &:not(&Active):hover,
  &:not(&Active):focus-visible {
    background-color: var(--color-light);
  }

  &Active {
    font-weight: 500;
    background-color: #e6e6e6;
  }
}

.linkText {
  @include ellipsis-text;
}

.copyright {
  color: var(--color-text-secondary);
  font-size: .75rem;
  margin-top: 12px;
  padding: 16px 24px;
  border-top: 1px solid rgba(0,0,0, .1);
}

.createdBy {
  display: block;
  margin-top: 3px;
  
  > a {
    transition: var(--transition);
  
    &:hover,
    &:focus-visible {
      color: var(--color-dark-blue);
      text-decoration: underline;
    }
  }
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, .5);
  animation: opacity .2s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@keyframes opacity {
  from { opacity: 0; }
  to { opacity: 1; }
}