.videoDetails {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: flex-start;
  gap: 0 24px;
  padding: 15px 24px 30px;
}

.playerWrapper {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}